---
// src/pages/index.astro
import MyForm from './myForm.astro'; // Importa el componente del formulario
import Quiz from './quizBrainRot.astro'; 
import Home from './home.astro';
 
---
<html lang="es">
<body>
  <main>
    <MyForm />
    <Quiz />
    <Home />
  </main>
</body>
</html>